:root {
    --bg-white: rgb(248 250 252);
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories-container {
    position: relative;
    width: 60em;
    min-height: 6rem;
    display: flex;
    overflow-y: hidden;
    cursor: pointer;
}

.categories-container:active * {
    transform: scale(1.05);
}

.categories-border {
    position: relative;
    border: 1px solid #6b7280;
    display: flex;
    border-radius: 9999px;
    padding: 0 4rem;
    margin-top: 2rem;
}

.category {
    position: relative;
    min-width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0.4rem;
    box-shadow: 0 0 10px #6b7280;
    border-radius: 9999px;
}

.category img {
    margin-top: 0.25rem;
    width: 3rem;
    height: 3rem;
}

.category span {
    font-size: 1.3rem;
    font-weight: 600;
}

#left-categories-arrow,
#right-categories-arrow {
    position: absolute;
    font-size: 5rem;
    top: 0.7rem;
}

#left-categories-arrow {
    left: 0;
}

#right-categories-arrow {
    right: 0;
}

::-webkit-scrollbar {
    height: 0px;
}

.modal_main {
    font-size: 2rem;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
}

.modal_content {
    background-color: var(--bg-white);
    position: relative;
    padding: 4rem 7rem;
    border-radius: 0.25rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.modal_content img {
    width: 5rem;
    height: 5rem;
    fill: orange;
    stroke: orange;
}

.modal_content form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 1rem;
}

.modal_content div {
    margin-top: 0.4rem;
}

.modal_close {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}
