.navbar-container {
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-button {
    color: black;
    cursor: pointer;
}

#home-button {
    padding: 1.25rem;
    margin-left: 5rem;
}

.left-nav {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.dropdown img {
    position: relative;
    float: right;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
}

#dropdown {
    position: absolute;
    z-index: 10;
    margin-top: 9.5rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.25rem 5rem 0.25rem 1rem;
    color: #374151;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.hidden {
    display: none;
}

.nav-profile {
    display: block;
    margin: 0.8rem;
}

.nav-settings {
    display: block;
    margin: 0.8rem;
}

.nav-logout {
    padding: 0.2rem;
    color: #374151;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #e5e7eb;
    background-color: #4b5563;
}

.nav-logout:hover {
    color: #4b5563;
    background-color: #f3f4f6;
}
