.navbar-container {
    width: 100vw;
    height: 4.5rem;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-button {
    color: black;
    cursor: pointer;
}

#home-button {
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.left-nav {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.dropdown-container img {
    position: relative;
    float: right;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
}

.dropdown-container {
    position: relative;
}

#cart-dropdown-content ,
#profile-dropdown-content {
    border-top: 1px solid var(--orange);
    position: absolute;
    z-index: 50;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #374151;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

#cart-dropdown-content {
    margin-top: 1rem;
    right: 0;
}

#profile-dropdown-content {
    margin-top: 3rem;
}

.hidden {
    display: none;
}

.nav-profile {
    display: block;
    margin: 0.8rem;
}

.nav-settings {
    display: block;
    margin: 0.8rem;
}

.nav-logout {
    padding: 0.2rem;
    color: #374151;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #e5e7eb;
    background-color: #4b5563;
}

.nav-logout:hover {
    color: #4b5563;
    background-color: #f3f4f6;
}

.cart-sum {
    text-align: right;
}

.cart-checkout-button {
    background-color: var(--orange);
}