.file-input {
    position: relative;
    margin-bottom: 0.55rem;
    padding: 0.8rem 6rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: white;
    width: 6.7rem;
    height: 1.8rem;
}

.file-input input {
    display: none;
}

.file-input div {
    position: absolute;
    top: -1rem;
    left: 1rem;
    background-color: var(--bg-white);
    border-radius: 9999px;
    font-size: 1rem;
    padding: 0 0.3rem;
    z-index: 10;
}

.file-input label {
    position: absolute;
    font-size: 1.2rem;
    color: #4b5563;
    cursor: pointer;
}
