.input-main {
    position: relative;
}

.input-main label {
    position: absolute;
    font-size: 1rem;
    padding: 0 0.3rem;
    border-radius: 9999px;
    background-color: rgb(248 250 252);
    top: -0.4rem;
    left: 1rem;
}

.input-main input {
    margin-top: 0.25rem;
    width: 16.2rem;
    height: 3rem;
    appearance: none;
    border-radius: 0.25rem;
    border-width: 1px;
    padding-left: 2.5rem;
    appearance: none;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.input-main svg {
    position: absolute;
    top: 1.4rem;
    left: 1.1rem;
    display: inline;
}
